.footer_desktop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: $dark-blue-color;
  padding: rem(42) rem(30);
  align-items: center;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  display: flex;
  margin-bottom: rem(41)
}

.footer-left__logo {
  width: 101px;
  height: 23px;
}

.st140 {
  fill: #fff;
}

.footer-left__txt {
  font-family: $lr;
  font-size: em(10);
  color: #fff;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: -167px;
}

.footer-nav {
  padding: rem(9) 0;
  margin-bottom: rem(30);
}

.footer-nav-list {
  width: 470px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-list__item {
  display: inline-flex;
}

.footer-nav-list__link {
  font-family: $lb;
  font-size: em(14);
  color: #fff;
  text-decoration: none;
  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

.footer-icon-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 127px;
  justify-content: space-between;
}

.footer-icon-list__item {
  font-size: em(12);
  color: #fff;
}

.footer-icon-list__icon {
  width: 15px;
}

.footer-icon-list__icon-facebook {
  height: 15px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-right__btn {
  font-family: $lb;
  font-size: em(14);
  background: #fff;
  border: none;
  border-radius: 50px;
  color: $dark-blue-color;
  width: 115px;
  height: 30px;
  margin: rem(3) 0;
  &:hover {
    background: rgba(255, 255, 255, 0.7);
  }
}

.footer-dev-link {
  margin-top: rem(21);
}

.footer-dev-link__span {
  font-family: $lr;
  font-size: em(10);
  color: #fff;
}

.footer-dev-link__link {
  width: 10px;
}

.footer_m {
  display: none;
  flex-direction: column;
  align-items: center;
  background: $dark-blue-color;
  padding: rem(25) rem(14) rem(15);
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-logo_m {
  width: 76px;
  height: 20px;
  margin-bottom: 0;
}

.footer-right__btn_m {
  width: 101px;
  height: 27px;
}

.footer-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav_m {
  margin-bottom: 0;
}

.footer-nav-list_m {
  padding: rem(9) 0;
  margin-bottom: 0;
  width: 100%;
}

.footer-nav-list__link_m {
  font-size: em(10);
  padding: rem(10) rem(8);
}

.footer-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: rem(25);
}

.footer-dev-link_m {
  margin-top: 0;
}

.footer-dev-link__span_m {
  margin-right: rem(7);
}