.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: rem(30) rem(30) 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
}

.logo__icon {
  width: 116px;
  height: 40px;
}

.st141 {
  fill: $dark-blue-color;
}

.st241 {
  fill: #d57d17;
}

.st240 {
  fill: #848487;
}

.navigation {
  margin-left: rem(63);
}

.header-nav-list {
  width: 470px;
  display: flex;
  justify-content: space-between;
}

.header-nav-list__item {
  display: inline-flex;
}

.header-nav-list__link {
  font-family: $lb;
  font-size: em(14);
  color: #4b4a4a;
  text-decoration: none;
  &:hover {
    color: #000;
  }
}

.quote-request__tel {
  font-family: $lbl;
  font-size: em(16);
  color: #000;
  margin-right: rem(57);
  letter-spacing: -0.2px;
}

.quote-request__btn {
  background-image: $gradient-blue-color;
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  border-radius: 50px;
  width: 146px;
  height: 38px;
  font-family: $lbl;
  font-size: em(14);
  border: none;
  transition: all .5s ease;
  &:hover {
    background-position: 40% 0;
  }
  &:focus {
    background-position: 60% 0;
  }
}

// Mobile menu

.header__menu-btn {
  display: none;
  border: none;
  padding: 0;
  background: none;
  margin-left: rem(50);
}

.header__menu-icon {
  width: 30px;
  height: 30px;
}

.navigation_m {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 1012px;
  padding: rem(31) rem(30);
  background: #fff;
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  transition: all .5s ease;
  transform: translateX(-100%);
}

.navigation_m-active {
  transform: translateX(0);
}

.navigation-top_m {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-top_m__close-btn {
  border: none;
  background: none;
  padding: 0;
  height: 20px;
}

.header-nav-list_m {
  flex-direction: column;
  position: static;
  width: 323px;
  height: 179px;
  margin: rem(50) 0 rem(57);
}

.navigation_m__close-btn {
  width: 20px;
  height: 20px;
}

.navigation-soc-icons_m {
  display: flex;
  width: 125px;
  justify-content: space-between;
}

.navigation-soc-icons_m__icon {
  width: 15px;
  height: 15px;
  fill: $dark-blue-color;
}

.navigation_m__bg {
  position: absolute;
  bottom: -79px;
  left: -427px;
  width: 900px;
}