.leave-logistic {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.title-and-subtitle {
  position: absolute;
  top: 197px;
  width: 100%;
}

.leave-logistic__title {
  color: #0a3e51;
  margin-bottom: rem(63);
}

.leave-logistic-scroll-to {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leave-logistic__scroll-to {
  font-family: $lbl;
  font-size: em(14);
  color: #3d6bc7;
  cursor: pointer;
  margin-bottom: rem(10);
  &:hover {
    color: $dark-blue-color;
  }
}

.leave-logistic__scroll-circle {
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-bottom: rem(12);
  background: $blue-color;
  transition: all 1.5s ease;
  cursor: pointer;
}

.main-illustration {
  margin-top: rem(195);
  display: flex;
}

.main-illustration__img {
  width: 1890px;
  z-index: -1;
}

.currentLayer {
  transform: translateX(-412px);
}