// Animation for blue scroll down circle

@-webkit-keyframes scrollDownCircle {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.6);
  }
}

@keyframes scrollDownCircle {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.6);
  }
}

.scrollDownCircle {
  -webkit-animation-name: scrollDownCircle;
  animation-name: scrollDownCircle;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}