/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1279px) {

  .header__menu-btn {
    display: block;
  }

  .navigation {
    display: none;
  }
  
  .navigation_m {
    display: flex;
    flex-direction: column;
  }

  .title-and-subtitle {
    top: 232px;
  }

  .main-illustration {
    margin-top: rem(492);
  }

  .main-illustration__img {
    right: 506px;
  }

  .currentLayer {
    transform: translateX(-496px);
  }

  .about-us-info {
    margin: rem(158) 0 0 rem(119);
  }

  .about-us-slider-wrap {
    margin-top: rem(438);
    margin-bottom: rem(37);
  }

  .about-us-slider {
    width: 646px;
  }

  .about-us-slide__img:first-child {
    width: 986px;
  }

  .about-us-slide__ny-clouds-sun {
    top: 54px;
    left: 358px;
    width: 300px;
  }

  .about-us-slide__ny-ground {
    left: 23px;
    width: 924px;
  }

  .about-us-slide__ny-buildings {
    width: 656px;
    left: 252px;
  }

  .about-us-slide__car {
    left: 240px;
    width: 212px;
    bottom: 1px;
  }

  .about-us-slide__canada-ground {
    width: 885px;
    left: 19px;
    bottom: -10px;
  }

  .about-us-slide__canada-forest {
    left: 83px;
    width: 828px;
    bottom: 2px;
  }

  .about-us-slide__canada-cloud-sun {
    top: 49px;
    left: 164px;
    width: 660px;
  }

  .about-us-slide__mexica-buildings {
    left: 56px;
    width: 869px;
  }

  .about-us-slide__mexica-sun-clouds {
    left: 239px;
    top: 43px;
    width: 570px;
  }

  .about-us-slide__mexica-ground {
    width: 990px;
  }

  .about-us__bg {
    right: -725px;
    top: 172px;
    width: 1500px;
  }

  .footer-middle {
    position: static;
  }

}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}
  /**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

  .header-left {
    flex-grow: 1;
    justify-content: space-between;
  }

  .header-right {
    display: none;
  }

  .header {
    padding: rem(13) rem(16) 0;
  }

  .title-and-subtitle {
    top: 96px;
  }

  .leave-logistic__title {
    font-size: em(38);
    line-height: 50px;
  }

  .main-illustration {
    margin-top: rem(157);
    height: 410px;
  }

  .main-illustration__img {
    transform: scale(0.56);
    overflow: visible;
    width: 100%;
  }

  .currentLayer {
    transform: translateX(-617px);
  }

  .about-us-info {
    margin: rem(89) 0 0 rem(13);
  }

  .about-us-info__title {
    font-size: em(40);
    margin-bottom: rem(6);
  }

  .about-us-info__txt {
    font-size: em(13);
    width: 295px;
    line-height: 24px;
  }

  .about-us-info__btn {
    margin-top: rem(18);
  }

  .side-nav {
    display: none;
  }

  .about-us-pagination__btn-down {
    display: none;
  }

  .about-us-slider-wrap {
    margin-top: rem(52);
    margin-bottom: 0;
  }

  .about-us-slide__img {
    &:first-child {
      width: 637px;
      position: relative;
      right: 35px;
    }
  }

  .about-us-slide__canada-ground {
    width: 585px;
    left: -27px;
    bottom: -10px;
  }

  .about-us-slide__canada-forest {
    left: 16px;
    width: 545px;
    bottom: -1px;
  }

  .about-us-slide__canada-cloud-sun {
    top: 30px;
    left: 78px;
    width: 420px;
  }

  .about-us-slide__car {
    left: 122px;
    width: 139px;
    bottom: 1px;
  }

  .about-us-slide__ny-buildings {
    width: 434px;
    left: 127px;
  }

  .about-us-slide__ny-clouds-sun {
    top: 34px;
    left: 199px;
    width: 190px;
  }

  .about-us-slide__ny-ground {
    left: -27px;
    width: 606px;
  }

  .about-us-slide__mexica-ground {
    width: 666px;
    left: -41px;
  }

  .about-us-slide__mexica-buildings {
    left: -3px;
    width: 581px;
  }

  .about-us-pagination {
    padding: 0;
  }

  .about-us-pagination-btns {
    padding: rem(19) 0;
    width: 288px;
  }

  .about-us__bg {
    right: -834px;
    top: 39px;
    width: 1413px;
  }

  .footer_desktop {
    display: none;
  }

  .footer_m {
    display: flex;
  }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}
  /**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
  /**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 1440px) {

  .currentLayer {
    transform: translateX(-350px);
  }

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {

  .header {
    padding: rem(30) rem(51) 0;
  }

  .title-and-subtitle {
    top: 154px;
  }

  .main-illustration {
    margin-top: rem(207);
  }

  .main-illustration__img {
    overflow: visible;
    width: 100%;
    transform: scale(0.949);
  }

  .currentLayer {
    transform: translateX(-228px);
  }

  .about-us-info {
    margin: rem(142) 0 0 rem(257);
  }

  .about-us-slider-wrap {
    margin-top: rem(127);
    margin-bottom: rem(33);
  }

  .about-us-slider {
    width: 1018px;
  }

  .about-us-slide__img {
    &:first-child {
      width: 1107px;
    }
  }

  .about-us-slide__ny-buildings {
    left: 282px;
    width: 734px;
  }

  .about-us-slide__ny-ground {
    left: 25px;
    width: 1029px;
  }

  .about-us-slide__ny-clouds-sun {
    top: 62px;
    left: 399px;
    width: 340px;
  }

  .about-us-slide__canada-cloud-sun {
    top: 51px;
    left: 180px;
    width: 740px;
  }

  .about-us-slide__canada-ground {
    width: 990px;
  }

  .about-us-slide__canada-forest {
    width: 928px;
  }

  .about-us-pagination__btn-down {
    left: 61px;
  }

}

@media only screen and (min-width : 1650px) {

  .currentLayer {
    transform: translateX(-143px);
  }

}