//fonts names

$lr: 'Lato-Regular';
$lm: 'Lato-Medium';
$lb: 'Lato-Bold';
$lbl: 'Lato-Black';

// Color palette

$dark-blue-color: #0A3E51;
$blue-color: #3d5bc7;
$light-blue-color: #BECAD3;
$white-color: #f3fafe;
$mint-color: #e0f2fc;
$assault-color: #4B4A4A;
$gradient-blue-color: linear-gradient(90deg, #38b2da 50%, #3d6bc7);
$gradient-orange-color: linear-gradient(90deg, #fbb86b 50%, #f7a03d);

//other variables