mixin about-us()
  section.about-us#about-us
    .side-nav
      img(src="static/img/svg-icon/nav.svg", class="side-nav__img", alt="nav svg icon")
    .about-us-info
      h2.about-us-info__title Who we are
      p.txt.about-us-info__txt
        | Rainier is the dynamically growing logistic and transportation company, spanning thousands of locations 
        | in North America. We provide a full range of transportation services foor both common and unusual freght, 
        | delivering time-sensitive and customized solutions.
      button(type="button", class="about-us-info__btn") About us
    .about-us-slider-wrap
      .about-us-slider
        .about-us-slide.about-us-slide-ny
          img(class="about-us-slide__img" src="static/img/illustartions/PNG/main/screen2_ny_bg.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__ny-buildings" src="static/img/illustartions/PNG/main/screen2_ny_buildings.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__ny-ground" src="static/img/illustartions/PNG/main/screen2_ny_ground.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__ny-clouds-sun" src="static/img/illustartions/PNG/main/screen2_ny_clouds_sun.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__car" src="static/img/illustartions/PNG/main/truck_all_screen.png")
        .about-us-slide.about-us-slide-canada
          img(class="about-us-slide__img about-us-slide__canada-cloud" src="static/img/illustartions/PNG/main/screen2_canada_bg.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__canada-ground" src="static/img/illustartions/PNG/main/screen2_canada_ground.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__canada-forest" src="static/img/illustartions/PNG/main/screen2_canada_forest.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__canada-cloud-sun" src="static/img/illustartions/PNG/main/screen2_canada_sun_clouds.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__car" src="static/img/illustartions/PNG/main/truck_all_screen.png")
        .about-us-slide.about-us-slide-mexica
          img(class="about-us-slide__img" src="static/img/illustartions/PNG/main/screen2_mexica_bg.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__mexica-buildings" src="static/img/illustartions/PNG/main/screen2_mexica_buildings.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__mexica-ground" src="static/img/illustartions/PNG/main/screen2_mexica_ground.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__mexica-sun-clouds" src="static/img/illustartions/PNG/main/screen2_mexica_sun_clouds.png", alt="tab image")
          img(class="about-us-slide__img about-us-slide__car" src="static/img/illustartions/PNG/main/truck_all_screen.png")
    .about-us-pagination
      button(type="button", class="about-us-pagination__btn-down") 
        include ../../svg/svg-icon/arrow.svg
      .about-us-pagination-btns
        span.about-us-pagination-btns__btn.about-us-pagination-btns__btn_america America
        span.about-us-pagination-btns__btn.about-us-pagination-btns__btn_canada.about-us-pagination-btns__btn_canada-active Canada
        span.about-us-pagination-btns__btn.about-us-pagination-btns__btn_mexico Mexico
        span.about-us-pagination-btns__mark.about-us-pagination-btns__mark_canada
    img(src="static/img/illustartions/SVG/main/bg_screen2.svg", class="about-us__bg", alt="about us background")

