mixin leave-logistic()
   section.leave-logistic
    .title-and-subtitle
      h1.leave-logistic__title 
        | Leave the <br> 
        | logistics to us
      .leave-logistic-scroll-to
        span.leave-logistic__scroll-to Scroll to explore
        span.leave-logistic__scroll-circle.leave-logistic__scroll-circle_1.scrollDownCircle
        span.leave-logistic__scroll-circle.leave-logistic__scroll-circle_2
    .main-illustration
      include ../../svg/illustartions/main2.svg